{% extends 'core/base.html' %}

{% block content %}
<main>
    <h1>Acceso Exclusivo para Mayoristas</h1>

    <section id="informacion-registro">
        <h2>¿Por qué te pedimos crear una cuenta?</h2>
        <p>
            Nuestra plataforma está abierta para que cualquier persona pueda comprar de forma minorista sin necesidad de registrarse. Sin embargo, <strong>el acceso a precios mayoristas y catálogo exclusivo está reservado para aquellos usuarios que se registren en la pagina</strong>. 
        </p>
        <p>
            Crea tu cuenta ahora y accede instantáneamente a nuestro catálogo mayorista.
        </p>
    </section>

    <hr>
    {% if not user.is_authenticated %}
        <section id="formulario-registro">
            <h2>Formulario de Solicitud de Cuenta</h2>
            <form method="POST">
                {% csrf_token %} {{ form.as_p }} <button type="submit">Enviar Solicitud de Registro</button>
            </form>
        </section>
        <section id="inicio-sesion">
            <p>¿Ya tienes una cuenta mayorista aprobada? <a href="{% url 'users:login' %}">Inicia sesión aquí</a>.</p>
        </section>
    {% endif %}
</main>
{% endblock %}