{% extends 'core/base.html' %}

{% block title %}Iniciar Sesión | {{site_config.site_name}} {% endblock %}

{% block content %}
<h2>Iniciar Sesión</h2>
<form method="post">
    {% csrf_token %}
    <!--Mostrar email en lugar de username-->
    {{ form.as_p }}
    <button type="submit">Iniciar Sesión</button>
</form>
<!--Si no tiene cuenta -->
<p>¿No tienes una cuenta mayorista? <a href="{% url 'users:acceso_mayoristas' %}">Regístrate aquí</a></p>
<p><a href="{% url 'users:password_reset' %}">¿Olvidaste tu contraseña?</a></p>

{% endblock content %}