{% extends 'core/base.html' %}
{% block content %}
<main>
    <h2>Elegir nueva contraseña</h2>
    {% if validlink %}
        <p>Por favor, ingresa tu nueva contraseña dos veces para verificar que la has escrito correctamente.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cambiar contraseña</button>
        </form>
    {% else %}
        <p>Este enlace para restablecer la contraseña no es válido. Es posible que ya se haya utilizado o haya caducado. Por favor, solicita uno nuevo.</p>
    {% endif %}
</main>
{% endblock %}