{% extends 'core/base.html' %}
{% load static %}

{% block title %}Colecciones | SENDA{% endblock %}

{% block content %}
<section class="py-5 bg-white">
    <div class="container py-lg-4">
        
        <div class="text-center mb-5 pb-3">
            <h1 class="display-4 fw-bold text-dark mb-3" style="font-family: var(--font-logo);">Catálogos</h1>
            <div class="mt-4" style="width: 60px; height: 2px; background-color: var(--senda-primary); margin: 0 auto;"></div>
        </div>

        <div class="row g-4 justify-content-center">
            {% for genero in generos %}
            <div class="col-12 col-md-6 col-lg-4">
                <a href="{% url 'products:genero_detalle' genero.slug %}" class="text-decoration-none d-block">
                    <div class="category-card shadow-sm">
                        
                        {% if genero.imagen %}
                            <img src="{{ genero.imagen.url }}" alt="{{ genero.nombre }}">
                        {% else %}
                            <div class="category-placeholder d-flex flex-column align-items-center justify-content-center w-100 h-100" style="background-color: var(--senda-secondary-2);">
                                <i class="fa-solid fa-image fs-1 mb-3 text-white"></i>
                            </div>
                        {% endif %}
                        
                        <div class="category-title">
                            {{ genero.nombre }}
                        </div>

                        <div class="category-hover-overlay">
                            <span class="hover-text-btn">Ver</span>
                        </div>
                        
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}