{% extends 'core/base.html' %}

{% block title %}Sobre Nosotros - {{ site_config.site_name }}{% endblock %}

{% block content %}
    <section>
        <h2>Sobre Nosotros</h2>
        <p>Somos una distribuidora mayorista y minorista comprometida con ofrecer productos de alta calidad a nuestros clientes. Nuestra misión es proporcionar un servicio excepcional y una amplia variedad de productos para satisfacer las necesidades de nuestros clientes, tanto mayoristas como minoristas.</p>
        <p>Con años de experiencia en el mercado, nos enorgullece ser un socio confiable para negocios de todos los tamaños. Nuestro equipo está dedicado a brindar atención personalizada y soluciones adaptadas a cada cliente.</p>
    </section>
{% endblock content %}